<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	bootstrap="./bootstrap.php"
	colors="true"
	processIsolation="true"
	verbose="false">
    <testsuites>
        <testsuite>
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
